<!DOCTYPE html>
<h1>Auth Server</h1>
<a href="{{.issuer}}/jwks">JSON Web Key Set</a>
<br>
<br>
<pre>
{{.public_key}}
</pre>
<br>
<a href="{{.issuer}}/logout">Logout</a><br>
<br>
<form method="get" action="{{.issuer}}/auth">
    <input type="hidden" name="response_type" value="token">
    <input type="hidden" name="redirect_uri" value="{{.issuer}}/">
    <input type="hidden" name="state" value="{{.state}}">
    <select name="client_id">
    {{range .clients.ClientsMatchingRedirectURI (printf "%s/" .issuer)}}
        <option value="{{.}}">{{.}}</option>
    {{end}}
    </select>
    <button type="submit">Get token</button>
</form>
<pre style="white-space: pre-wrap; max-width: 40em; word-wrap: break-word;">
<script>
var hash = window.location.hash.substr(1);

var hash_params = hash.split('&').reduce(function (result, item) {
    var parts = item.split('=');
    result[parts[0]] = parts[1];
    return result;
}, {});

if (hash_params.access_token) {
    document.write(hash_params.access_token);
}
</script>
</pre>
