<!DOCTYPE html>
<h1>Login</h1>
{{with .message}}
    <div style="color: red;">{{.}}</div>
{{end}}
<form method="post" action="{{.query}}">
    <label for="user_id">Username</label><br>
    <input type="text" id="user_id" name="user_id"{{with .userID}} value="{{.}}"{{end}}><br>
    <label for="password_plain">Password</label><br>
    <input type="password" id="password_plain" name="password_plain"><br>
    <button type="submit">Login</button>
</form>
