<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="{{ .base_path }}/style.css">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-32x32.png" sizes="32x32">
    <script src="{{ .base_path }}/scripts/main.js" type="module"></script>
</head>
<body>
<h1>{{ .title }}</h1>

<h2>Public Key</h2>
<div>
    <a href="{{ .base_path }}/jwks">JSON Web Key Set</a>
</div>
<pre><code>{{ .public_key }}</code></pre>

<h2>Session</h2>
<form method="get" action="{{ .base_path }}/logout">
    <label for="client_id_logout">Client</label>
    <input type="text" name="client_id" id="client_id_logout" required>
    <button type="submit">Logout</button>
</form>

<h2>Token Request</h2>
<form method="get" action="{{ .base_path }}/authorize" id="request_form">
    <input type="hidden" name="redirect_uri" value="{{ .issuer }}/">
    <input type="hidden" id="state" name="state" value="{{ .state }}">
    <input type="hidden" id="nonce" name="nonce" value="{{ .nonce }}">
    <input type="hidden" id="code_verifier" name="code_verifier" value="{{ .code_verifier }}" disabled>
    <input type="hidden" id="code_challenge" name="code_challenge" value="{{ .code_challenge }}" disabled>
    <input type="hidden" id="code_challenge_method" name="code_challenge_method" value="S256" disabled>
    <input type="hidden" id="scope" name="scope">
    <label for="response_type">Flow</label>
    <select id="response_type" name="response_type">
        <option value="token">Implicit (access token only)</option>
        <option value="code">Authorization Code (access token with refresh token and id token depending on scope)</option>
        <option value="client_credentials">Client Credentials (access token only)</option>
        <option value="password">Password (access token only)</option>
    </select>
    <label for="client_id">Client</label>
    <input type="text" id="client_id" name="client_id" required>
    <label for="client_secret">Client Secret</label>
    <input type="password" id="client_secret" required disabled>
    <label for="username">Username</label>
    <input type="text" id="username" required disabled>
    <label for="password">Password</label>
    <input type="password" id="password" required disabled>
    <details>
        <summary>Scope</summary>
        {{- range .scopes }}
        <div style="margin-right: .5em">
            <input type="checkbox" id="scope_{{ . }}" value="{{ . }}">
            <label for="scope_{{ . }}">{{ . }}</label>
        </div>
        {{- end }}
    </details>
    <button type="submit">Get token</button>
</form>
<div id="access_token_panel" style="display: none;">
    <h3>Access token</h3>
    <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="access_token_output"></code></pre>
    <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="access_token_json"></code></pre>
</div>
<div id="id_token_panel" style="display: none;">
    <h3>Id token</h3>
    <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="id_token_output"></code></pre>
    <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="id_token_json"></code></pre>
</div>
<div id="refresh_token_panel" style="display: none;">
    <h3>Refresh token</h3>
    <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="refresh_token_output"></code></pre>
</div>

<div style="text-align: right"><small>{{ .version }}</small></div>
</body>
</html>
