<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Auth Server - Login</title>
    <link rel="stylesheet" href="{{ .base_path }}/style.css">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ .base_path }}/favicon-32x32.png" sizes="32x32">
</head>
<body>
{{ with .message }}
    <div style="color: salmon; text-align: center; margin-bottom: 2em;">{{ . }}</div>
{{ end }}
<form method="post" action="{{ .query }}" style="width: 240px; max-width: 100%; margin: 0 auto; display: flex; flex-direction: column;">
    <input type="text" name="user_id" placeholder="Username"{{ with .userID }} value="{{ . }}" {{ end }}autofocus>
    <input type="password" name="password" placeholder="Password">
    <button type="submit" style="margin: 1em auto;">Login</button>
</form>
</body>
</html>
